/* 
    HEADER
*/
header .flex{
    justify-content: flex-end;
}

header button{
    padding: 7px;
    margin: 5px;
    color: white;
    background-color: #4a4a4a;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
/* --------------------------------------- */




/*
    MAIN 
*/
.user-cam{
    position: relative;
    margin: 5px;
    height: 150px;
}

.user-cam img{
    height: 100%;
}

.name-user-cam{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    padding: 5px;
    background-color: #3b3b3b86;
}
/* --------------------------------------- */





/*
    FOOTER 
*/
.flex-left{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.flex-center{
    display: flex;
    flex-direction: row;
}

.flex-right{
    display: flex;
    align-items: center;
    height: 100%;
    color: red;
    font-weight: 500;
    background-color: #4a4a4a;
    padding: 15px;
}

.foot-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    margin: 7px;
}

.foot-buttons:hover{
    cursor: pointer;
}

footer .foot-buttons i{
    transform: scale(2.25);
    padding-bottom: 10px;
}
/* --------------------------------------- */