





/* 
    DEBUG
*/

.dbg-color{
    background-color: rgba(255, 167, 167, 0.568);
    border: 1px solid black;
}

.h100{
    height: 100px;
}

.h150{
    height: 150px;
}

.flex{
    display: flex;
}

